<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/store">Book Store</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/store">Home</a></li>
        <li><a href="https://www.amazon.com/books-used-books-textbooks/b?ie=UTF8&node=283155">Books</a></li>
        <li><a href="https://www.google.com.vn/search?q=news&oq=news&aqs=chrome..69i57.1334j0j7&sourceid=chrome&ie=UTF-8">News</a></li>
        <li><a href="/sessions/new">Contact Us</a></li>
        <li><a href="/searches/new"> Search</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/new"> Sign Up</a></li>
        <li><a href="/sessions/new">Login</a></li>
        <li><a href="/carts"> Carts</a></li>
      </ul>
    </div>
  </nav>
<% if notice %>
   <p id="notice"><%= notice %></p>
<% end %>

<h1>Product List</h1>
<p id="notice"><%= notice %></p>
<% provide(:title, "Product") %>
<div class="container">
<table class="table table-striped">
<thead>
  <tr class="info">
    <th>Image</th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
</thead>
<tbody>
<% @products.each do |product| %>
<tr class="active">
    <div class="entry">
        <td><%= image_tag(product.image_url) %></td>
        <td><%= product.title %></td>
        <td><%= sanitize(product.description) %></td>
        <td><div class="price_line">
            <span class="price"><%= number_to_currency(product.price) %></span>
            <%= button_to 'Add to Cart', line_items_path(:product_id => product) %>
        </div></td>
    </div>
<% end %>
</tr>
</tbody>
</table>
