<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'app', media: 'all', 'data-turbolinks-track'=> true %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track'=> true %>
  </head>

  <body>
    <%= yield %>
    <%= render 'templated/navigation' %>
  </body>
</html>
<!-- app/views/shared/_navigation.html.erb -->
